.grid {
	width: 62em;
	height: 100em;
}

.row {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 55em) {
	.grid {
		width: 31em;
		height: 100em;
	}

	.row {
		display: flex;
		flex-direction: column;
	}
}

.row > div {
	width: 30em;
	height: 15em;
	padding: 1em 2em;
	margin: 1em;
	background-color: white;
}

.options {
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding: 3em 3em;
}

.chart {
	flex: 3;
}

.button {
	flex: 1;
}
